<template name="ddForm">
    <h3>Document-definition Form</h3>
    <p>Create field</p>
    <form>
        <div class="form-group">
            <label for="dd-label">Label</label>
            <input type="text" class="form-control" id="dd-label" required>
        </div>
        <div class="form-group">
            <label for="dd-name">Name</label>
            <input type="text" class="form-control" id="dd-name" required>
        </div>
        <div class="form-group">
            <label for="dd-type">Type</label>
            <input type="text" class="form-control" id="dd-type" required>
        </div>
        <button type="submit" class="btn btn-primary add-dd">Add</button>
        <button class="btn btn-danger remove-all-dd">Remove all dd</button>
    </form>
</template>